/* Select the article that represents the student profile card */
article{

  /* Make the entire border box 300px wide */
  box-sizing: border-box;

  /* Set the width of the content area of the card */
  width: 300px;

  /* Give the card a minimum vertical size. */
  min-height: 200px;

  /* Create space between the content and the border */
  padding: 20px;

  /* Create a visible boundary around the card */
  border: 2px solid black;

  /* Creates space between the card and surrounding elements  */
  margin: 30px;

  /* Control content that extends beyond the box. */
  overflow: auto;

}